 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Project Details page</title>
 </head>
 <body>

    {% extends 'main.html' %}

    {% block content%}

    <h1>single project details</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facilis eaque porro illum architecto magni officia laboriosam cum, molestiae odit quod sapiente voluptatem nihil est commodi modi, facere mollitia eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nemo eaque ullam hic id quas officia, doloribus sequi molestiae omnis impedit quidem sint consectetur. Maiores officia non maxime nemo labore!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis architecto soluta ipsam reprehenderit iure officiis asperiores doloremque error perspiciatis, eum suscipit quidem autem illum laborum excepturi eius. Dignissimos, praesentium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam consectetur repellendus, dolor quidem nostrum, explicabo delectus voluptatibus, cumque numquam inventore reprehenderit ullam animi! Atque reprehenderit dignissimos numquam illo accusantium unde! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, cumque hic. Neque quae at, ullam a dignissimos, tenetur architecto praesentium ad nulla illum atque itaque tempore quia. Inventore, ipsa asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, tempore aliquid aperiam nam ut ipsa earum optio blanditiis, fugiat nulla nesciunt quidem placeat consequuntur omnis eius atque animi recusandae. Veniam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fuga officia modi libero quod temporibus tempora, nulla vel, nemo laborum et in veniam eaque quaerat iusto pariatur beatae odit fugit! </p>

    {% endblock content %}
     
 </body>
 </html>